.top{
    position:sticky;
    width:100%;
    height:10vh;
    top:0;
    font-family:'Josefin Sans',' sans-serif';
    display:flex;
    align-items:center;
    box-shadow: 1px 1px 10px rgb(245, 242, 242);
    .left,.right{
        flex:3;
    }
    .icon
    {
        position:relative;
        margin-left:30%;
        display:flex;
        align-items: center;
        justify-content: center;
        .facebook
        {
            margin-left: 10px;
            font-size: 30px;
           
        }
        .instagram
        {
            margin-left: 10px;
            font-size: 30px;
        }
        .twiter
        {
            margin-left: 10px;
            font-size: 30px;
        }
        .youtube
        {
            margin-left: 10px;
            font-size: 30px;
        }
    }
    .center
    {
        flex:6;
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
        }
        li{
            margin-left:40px;
            font-size: 20px;
            margin-top:20px;
        }
    }
    .right{
        position:relative;
        display:flex;
        align-items: center;
        justify-content: center;
        img{
            position:relative;
            width:10%;
            border-radius: 50% 50% 50% 50%;
            margin-right: 15px;
        }
    }
}
.header
{
    position:relative;
    width:100%;
    height:70vh;
    .headertitles
    {
        position:relative;
        margin-top:30px;
        margin-bottom: 30px;
        display:flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        color:#444;
        font-weight: bolder;
        .headertitlesm
        {
            position:relative;
            
        }
        .headertitlelr
        {
            position:relative;
            font-size: 100px;
            font-family: cursive;
            z-index: 1;
            color:rgb(106, 106, 106);
        }
        
    }
    .headerimg
    {
        position:relative;
        top:-20%;
        width:100%;
        height:100%;
        img{
            position: relative;
            width: 100%;
            height:100%;
            filter: blur(0.1px);
        }
    }
}